@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: rgb(15, 23, 53);
}

header {
    width: 100%;
    background-color: rgb(43, 60, 124);
    padding-bottom: 10px;
}

main {
    background-color: rgb(15, 23, 53);
    margin: 0 auto;
    padding: 30px 0;
}

picture {
    width: 100%;
    text-align: center;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: auto;
}

.btn-header {
    background-color: white;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    font-weight: normal;
    margin: 10px auto;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Shadows Into Light', cursive;
    box-shadow:0 0 15px tomato;
}

.btn-header:hover {
    box-shadow:0 0 15px tomato, 0 0 20px tomato, 0 0 25px tomato;
}

.btn-header a {
    color: tomato;
    font-size: 20px;
    width: 100%;
}

h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0 0 15px tomato, 0 0 20px tomato, 0 0 25px tomato;
    font-weight: lighter;
}

h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: normal;
    text-shadow: 0 0 15px tomato, 0 0 20px tomato, 0 0 25px tomato;
}

a {
    text-decoration: none;
    color: lightsalmon;
    font-weight: bolder;
    font-size: 25px;
}

ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

li {
    display: inline;
    margin: 0 20px;
}

li a svg {
    height: 20px;
    width: auto;
    margin: 0 10px;
}

li:hover {
    text-shadow: 0 0 15px tomato, 0 0 20px tomato, 0 0 25px tomato;
}


.card {
    background-image: url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: white;
    color: white;
    box-shadow: 0 0 25px tomato;
}

.card div {
 background-color: rgba(0, 0, 0, 0.6);
 padding: 5px 20px;
 border-radius: 15px;
}

.card p {
    max-width: 700px;
    margin: 15px auto;
}

hr {
    color: darkgray;
    width: 70%;
    text-decoration: none;
    max-width: 500px;
}

footer {
    height: 100%;
}

footer h2 {
    color: white;
    text-shadow: 0 0 15px tomato, 0 0 20px tomato, 0 0 25px tomato;
    font-weight: lighter;
    display: inline-block;
    text-align: center;
    width: 100%;
}